.footerTest {
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
    gap: 1525px;
}

.footerTest.testContainer,
.footerTest.resultContainer {
    margin-bottom: 45px;
}

.footerTestFont {
    font-size: 20px;
}


.Footer.homeContainer {
    background-color: white;
    width: 100%;
    height: 220px;

    display: flex;
    align-items: center;
}

.footerTestImg {
    display: flex;
    align-items: flex-end;
}


.footerLogoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.footerTestFont.testContainer {
    color: white;
}


.footerTestFont.resultContainer {
    color: black;
}