.footerLogoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;

}

.footerTest {
    display: flex;
    margin-bottom: 45px;
    margin-right: 25px;
    margin-left: 25px;
    gap: 1525px;
}

.footerTestFont {
    color: white;
    font-size: 20px;
}

.footerTestImg {
    display: flex;
    align-items: center;
}