.homeHeaderContainer {
    height: 44px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

.homeHeaderContainer ul {
    display: flex;
    justify-content: space-around;
    gap: 710px;
}

.homeHeaderContainer ul>li>a {
    font-size: 32px;
    color: white;
}

.headerContainer ul {
    height: 44px;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 65px;
    display: flex;
    align-items: center;
}

.headerContainer li>a {
    font-size: 32px;
    font-family: "NanumGothic-Regular";
}

.liContainer {
    display: flex;
    margin-left: auto;
    gap: 65px;
}

.liNav1 a{
    color: #20CFE7;
}

.liNav2 a{
    color: #E961FF;
}