.Letter-background{
    display: flex;
    justify-content: center;
    align-items: center;
}

.envelope{
    position: absolute;
    z-index: 2;
    top: 370px;
}

.letterPaper{
    background: url(../images/letterPaper.png) no-repeat;
    width: 783px;
    height: 600px;
    position: relative;
    z-index: 4;
    top: 55px;
    float: left;
    /* padding: 30px; */
    display: flex;
    justify-content: center;
}

.name{
    width: auto;
    height: 50px;
    margin: 30px;
    font-size: 2rem;
    margin-right: auto;
}

.letterInputText{
    width: 730px;
    height: 310px;
    resize: none;
    position: absolute;
    z-index: 5;
    background-color: transparent;
    border: 0;
    margin-top: 80px;
    font-size: 1.25rem;
}

.letterbtn{
    font-family: 'AppleSDGothicNeo';
    position: absolute;
    top: 400px;
    width: 300px;
    height: 60px;
    font-size: 1.75rem;
    background-color: #fff;
    border: 2px #000 solid;
    border-radius: 10px;
    margin-top: 10px;
}