@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px); /* 왼쪽에서 시작 */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* 왼쪽으로 이동하지 않고 보이게 됨 */
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0); /* 현재 위치에서 시작 */
    }
    to {
        opacity: 0;
        transform: translateX(-20px); /* 왼쪽으로 사라짐 */
    }
}


.click-marker-container.fade-out {
    animation: fadeOutLeft 0.8s ease; 
}

.click-marker-container {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1000;
    left: 239px;
    animation: fadeInLeft 0.8s ease;

}

.close-btn {
    position: absolute;
    left: 480px;
    width: 58px;
    height: 58px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.click-marker {
    position: absolute;
    margin-top: 85px;
    width: 465px;
    height: 819px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* z-index: 1000; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 0px 10px;

    overflow-y: auto;
}
.click-marker > 
.marker-title,
.marker-img,
.marker-detail {
    padding: 0px 58px;
}
.marker-title{
    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    font-size: 32px;

    margin-top: 28px;
    margin-left: 58px;
}

.marker-img{
    width: 359px;
    height: 207px;
}

.marker-detail{
    margin-top: 16px;
}

.recommendation{
    margin-top: 37px;
    padding-left: 62px;

    font-size: 24px;
}

.developer{
    display: flex;
    justify-content: center;
    margin: 0px 62px;
    background-color: #E3FFFA;
    padding: 0px 39px   ;

}
.developer-profile{
    margin-top: 15px;
    width: 35px;
    height: 35px;
}
.developer-name-review{
    font-family: 'AppleSDGothicNeoR';
    margin: 0;
}
.developer-name{

}

.developer-review{

}

.developer-hr{
}

.full-display{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position:relative;
}
.place{
    margin-top: 85px;
    display: flex;
    background-color: white;
    border: 5px solid black;
    width: 1477px;
    height: 866px;
    border-radius: 30px;

    justify-content: center;
    align-items: center;
    position: relative;

    z-index: 20;
}

.btns {
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 19px;
    margin-top: 21px;
    z-index: 30;
}

.btn-margin{
    width: 195px;
}

.btns button {

    background-color: white;
    border: 5px solid black;
    padding: 5px 10px;
    
    width: 277px;
    height: 69px;
    border-radius: 15px 15px 0px 0px;

    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    color: #3373FF;
    font-size: 40px;
}
.btns button.active {
    background-color: #65FFE3;
    color: white;
}

.map-class{
    width: 1419px;
    height: 819px;
    border-radius: 10px;
    z-index: 1;
}