.full-display{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position:relative;
}
.place{
    display: flex;
    background-color: white;
    border: 5px solid black;
    width: 1477px;
    height: 866px;
    border-radius: 30px;

    justify-content: center;
    align-items: center;

    z-index: 20;
}

.btns {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 19px;
    margin-top: 21px;

    z-index: 10;
}

.btn-margin{
    width: 195px;
}

.btns button {

    background-color: white;
    border: 5px solid black;
    padding: 5px 10px;
    
    width: 277px;
    height: 69px;
    border-radius: 15px;

    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    color: #3373FF;
    font-size: 40px;
}
.btns button.active {
    background-color: #65FFE3;
    color: white;
}

.map-class{
    width: 1419px;
    height: 819px;
    border-radius: 10px;
    z-index: 1;
}