.PositionInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.schoolInputContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.schoolInputContainer .inputText,
.outsiderInputContainer .inputText {
    width: 830px;
    height: 130px;
    background-color: white;
    border-radius: 30px;
    border: 3px solid black;
    font-size: 45px;
    text-indent: 35px;
    box-shadow: inset 10px 10px black;
}

.radioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin-top: 30px;
}

.radioContainer input[type="radio"] {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.radioContainer .radioLabel {
    font-size: 50px;
    color: black;
}

.privacyContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    color: black;
    font-size: 40px;
}

.privacyContainer .inputCheck {
    width: 40px;
    height: 40px;
}

.testSubmitBtn {
    position: relative;
    margin-top: 65px;
}

.testSubmitBtn p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: black;
    margin: 0;
}