.askContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 105px;
}

.askContainer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    margin: 0;
    width: 35%;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.questionContainer {
    display: flex;
    margin-bottom: 65px;
}

.questionContainer button{
    background-color: white;
    font-size: 40px;
    color: black;
    height: 120px;
}

.two-answers button {
    width: 960px;
}

.three-answers button {
    width: 640px;
}

.questionContainer button:hover {
    background-color: #FFBFF1;
}

.Question hr {
    border-color: #BABABA;
    border-style: solid;
    margin-bottom: 65px;
}

.nextContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 500px;
    margin-right: 95px;
}

.nextBtn {
    width: 435px;
    height: 150px;

    border-radius: 65px;
    border: 4px solid black;
    background: linear-gradient(to top, #70FFE5, #FFFFFF);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);

    font-size: 48px;
}

.nextBtn img {
    margin-left: 20px;
}