.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.logoimg {
    width: 407px;
    height: 67px;
    margin-top: 46px;
}

.result-container {
    text-align: center;
    margin-bottom: 544px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-container {
    width: 728px;
    height: 347px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-top: 178px;
    margin-bottom: 64px;
}

.your-type{
    font-size: 64px;
    color: white;
}
.your-type > p{
    margin: 0;
    padding: 0;
}

.your-type-first {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 37px;
}

.your-type-end {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 63px;
}


.type-name-stars {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 728px;
    height: 201px;
}

.type-name {
    width: 585px;
    height: 169px;


    background-color: #ffffff;
    border-radius: 100px;
    border: 2px solid black;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.type-name > p {
    margin: 0;
    padding: 0;
    margin-top: 12px;
    
    font-size: 120px;
    color: #FD83FD;
    text-shadow: -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.stars {
    width: 78px;
    height: 81px;
    position: absolute;
}

.stars-first {
    top: 0;
    left: 0;
}

.stars-end {
    bottom: 0;
    right: 0;
}

.type-description {
    width: 1537px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 148px 0;
}

.type-description-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 1537px;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 72px;
    filter: blur(10px);
    z-index: -1;
}

.type-li-container {
    text-align: left;
    font-size: 40px;
    font-family: 'AppleSDGothicNeoB';
    align-self: flex-start;
    margin-left: 94px;
}

.type-li {
    margin-bottom: 49px;
    font-weight: bold;
    gap: 49px;
}

.finding-friend-graph {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.friend-graph-name-container {
    margin-top: 14px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.friend-graph-container {
    margin-top: 98px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    gap: 186px;

    z-index: 100;
}

.friend-name-container {
    width: 1137px;
    gap: 172px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}

.friend-name-container>p {
    font-size: 40px;
}

.finding-friend {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;

    margin-left: 218px;
    margin-top: 145px;
}

.friend-graph {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    font-size: 40px;
}

.friend-name {
    margin: 22px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    font-size: 40px;
}

.answer {
    top: 0;
    margin: 0;
    padding: 0;
}

.similar-friend {
    text-align: left;

}

.similar-friend>p {
    font-size: 40px;
    margin: 0;
    padding: 0;

}

.same-answers {
    margin-top: auto;
}

.same-answers>p {
    font-size: 24px;
    margin: 0;
    padding: 0;

}

.graph {
    width: 72px;
    background: linear-gradient(#FF3FF7, #FF7EFA, #FFBBFC, #FFD6FD, #FFFFFF);
    border-radius: 15px 15px 0px 0px;
}

.graph-1 {
    height: 557px;
}

.graph-2 {
    height: 472px;
}

.graph-3 {
    height: 237px;
}

.graph-4 {
    height: 133px;
}

.friend-graph-bg {
    width: 1137px;
    height: 705px;
    border-radius: 30px;
    border: 4px solid black;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 0;
    top: 0;

    position: absolute;
}

.graph-tip {
    margin: 94px 0px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 551px;
    height: 121px;
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
}

.tip-img {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 0;
    margin: 14px;

    top: 0;
}

.tip-text {
    position: absolute;
    font-size: 32px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: calc(436px * 2 + 691px);
    /* 두 버튼의 너비와 버튼 사이의 간격의 합 */
    margin: 0 auto;
    /* 가운데 정렬 */
}

.retry-btn,
.hotplace-btn {
    width: 436;
    height: 152;
    font-size: 48px;
    padding: 49px 80px;
    background: linear-gradient(#ffffff, #65FFE3);
    border: 4px solid black;
    border-radius: 66px;
    box-shadow: 0px 5px 4px rgb(0, 0, 0);

    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    margin-top: 106px;

}